<?xml version="1.0" encoding="windows-1250"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.bme.hu/aut/menetrend/Menetrend"
			class = "hu.bme.aut.menetrend.menetrend.MenetrendPackage"
			genModel = "model/generated/Menetrend.genmodel" />
	</extension>
</plugin>
